/*Navagation */
nav {
  background-color: #6c6767fe;
  padding: 10px;
  margin: 20px;
}
nav a:link {
  border-color: rgb(79, 136, 215);
}
nav a:visited {
  border-color: rgb(79, 136, 215);
}
nav a:hover {
  color: rgb(42, 165, 87);
  background-color: rgb(182, 182, 182);
}

.listImg {
  width: 300px;
  height: 300px;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block;
  margin-right: 20px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#navBar {
  text-align: center;
}

/* Heading */
#logo {
  float: inline-start;
}
#brandName {
  text-align: center;
}
#addCake {
  float: right;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}
