/*Navagation */
.listImg {
  width: 300px;
  height: 300px;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block;
  margin-right: 20px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#navBar {
  text-align: center;
}

/* Heading */
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
  padding: 10px;
}

#header-container {
  height: 100%;
  width: 100%;
  background-color: #ffb4a2;
  padding-top: 50px;
  position: relative;
  text-align: center;
}

#title-container {
  border: 5px solid #ffcdb2;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: inline-block;
  width: auto;
  border-radius: 25px;
}

#brandName {
  text-align: center;
}
#addCake {
  float: right;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}

.header {
  text-align: center;
  letter-spacing: 5px;
  color: #6d6875;
}

/*Nav Bar*/
#nav-container {
  
  width: 100%;
  background-color: #ffcdb2;
}

.container-fluid {
  margin: auto;
  margin-top: 50px;
  width: 95%;
  height: 100%;
  border-radius: 25px;
}
a.nav-link {
  color: #6d6875;
  font-weight: 600;
  font-size: 2vw;
  box-shadow: inset 0 0 0 0 #b5838d;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 5px;
}
