html {
  background-color: #f2cc8f;
}

/*Navagation */
.listImg {
  width: 300px;
  height: 300px;
  float: right;
}

/*Nav Bar*/
#nav-container {
  width: 100%;
  background-color: #f4f1de;
}

a.nav-link {
  color: #3d405b;
  font-weight: 600;
  font-size: 2vw;
  box-shadow: inset 0 0 0 0 #bc4749;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 5px;
}

a.nav-link-active {
  text-decoration: none;
  color: #e76f51;
  font-weight: 600;
  font-size: 2vw;
  box-shadow: inset 0 0 0 0 #bc4749;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 5px;
}
a.nav-link:hover {
  color: #f2cc8f;
  box-shadow: inset 100px 0 0 0 #3d405b;
}

p {
  text-align: justify;
  padding: 10px;
  text-indent: 0.5in;
  font-size: 1.5vw;
}

h1 {
  font-size: 4.5vw;
  text-align: center;
}

h2 {
  text-align: center;
  color: #3d405b;
  padding: 5px;
  font-size: 3.5vw;
}

h3 {
  text-align: center;
  color: #3d405b;
  padding: 5px;
  font-size: 3vw;
}

p.blockquote {
  letter-spacing: 1.5px;
  text-indent: 20px;
  text-align: center;
  font-style: italic;
  font-size: 3vw;
  color: #3d405b;
  border: solid 2px #e07a5f;
  border-radius: 10px;
}

/* Heading */
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
  padding: 10px;
}

#header-container {
  height: 100%;
  width: 100%;
  background-color: #e07a5f;
  padding-top: 50px;
  position: relative;
  text-align: center;
}

#title-container {
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: inline-block;
  width: auto;
  border-radius: 25px;
}

#brandName {
  text-align: center;
}
#addCake {
  float: right;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}

.header {
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
}

/*Footer*/

footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  color: #3d405b;
  background-color: #f4f1de;
  font-weight: 700;
}

/*Body*/
.container-fluid {
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: #f2cc8f;
}

/*Cakes*/
th {
  text-align: center;
  color: #b5838d;
  font-size: 2vw;
}

/*Home Page*/
